html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
        Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

a {
    color: #27a522;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}
.tasks-calendar__container {
    display: flex;
}

.list-tasks__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
    width: 300px;
}
.list-tasks__container--isOver {
    background-color: lightblue;
}
.list-tasks__task {
    border: 1px solid gray;
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
    cursor: grab;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 5px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    text-align: center;
}

.calendar__container {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}
.calendar__container_tasks {
    display: flex;
    align-content: flex-start;
    align-items: center;
    width: 600px;
    height: 30px;
    background-color: #f5f5f5;
    border-radius: 5px;
}
.calendar__container_tasks--isOver {
    background-color: lightblue;
}

.award__container {
    margin-right: 10px;
}
.award__drop-container {
    width: 100px;
    height: 100px;
    border: 5px solid gray;
    border-radius: 50%;
    position: relative;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.award__drop-container--isOver {
    border: 5px solid green;
    border-radius: 50%;
}

.award__image {
    border-radius: 50%;
    object-fit: cover;
    width: 90px;
    height: 90px;
}

.award__percents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-weight: 700;
    -webkit-text-stroke: 1px rgb(147, 245, 176);
}

.top-navigation__home {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.list-awards__container {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: aliceblue;
}

.action__icon {
    font-size: 25px;
}
.action__drop-container {
    background-color: greenyellow;
    padding: 5px;
    cursor: pointer;
}
.action__drop-container--isOver {
    background-color: gray;
}

.actions__container {
    display: flex;
}
